<?xml version="1.0"?>
<FileSystemProviders>
  
  <!-- Media -->
  <Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
    <Parameters>
       	<add key="rootPath" value="C:\inetpub\UmbracoCertisign\Media" />     
 		<add key="rootUrl" value="//umbraco.pda.inspira.com.br/media/" />  
    </Parameters>
  </Provider>
   
</FileSystemProviders>
